<div class="p-6 max-w-max mx-auto bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
  

    <%= render 'articles/card_view', article: @article %>
                
            <h2 class="text-gray-600 dark:text-white ">Add a comment:</h2>

            <%= render 'comments/form' %>
            
            <div class="p-4 w-full max-w-md bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-between items-center mb-4">
                    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Comments</h5>
                
              </div>
              <div class="flow-root">
                  <div class="overflow-y-auto h-72 relative w-full  mx-auto bg-white dark:bg-slate-800 dark:highlight-white/5 shadow-lg ring-1 ring-black/5 rounded-xl flex flex-col divide-y dark:divide-slate-200/5">    
                    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                        <%= render @article.comments %>
                    </ul>
                      </div>
              </div>
            </div>

       

 
  

</div>








